@import "src/assets/scss/mixins";
@import "src/assets/scss/variables";

.login {
    position: relative;
    background: url($image-background) no-repeat center;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.login__content {
    max-width: 500px;
    min-width: 300px;
    background-color: $color-white;
    border-radius: 5px;
    padding: 10px 40px 60px !important;
    @include centerer(true, true);
    @include prefix(box-shadow, 0 1px 5px rgba(0, 0, 0, 0.344));

    @include media-query(medium, max) {
        padding: 10px 15px 60px !important;
        top: 35%;

        .login__header {
            margin-top: 10px !important;
        }

        .login__form {
            margin-top: 10px;

            .input-field {
                .dx-textbox {
                    border-radius: 0 !important;
                    margin: 10px 0 !important;
                }
            }

            .form__action {
                @include flex(row, space-between, center, nowrap);
                margin-top: 20px !important;
            }
        }
    }

    .login__header {
        text-align: center;
        width: 100%;
        margin-top: 30px;

        h3 {
            font-size: 30px;
            text-transform: uppercase;
        }
    }

    .login__form {
        @include align-center;
        color: $color-black-pearl;
        margin-top: 30px;
        max-width: 500px;

        .input-field {
            label {
                span {
                    color: $color-red;
                    margin-left: 2px;
                }
            }

            .dx-textbox {
                border-radius: 0 !important;
                margin: 10px 0 20px;
            }
        }

        .form__action {
            @include flex(row, space-between, center, nowrap);
            margin-top: 40px;

            .dx-button {
                background-color: $color-black-pearl;
                color: $color-white;
            }

            a:hover {
                color: $color-manatee;
            }
        }
    }
}