@import "src/assets/scss/mixins";
@import "src/assets/scss/variables";

.no-showtime-notification {
    @include centerer;
    position: absolute;
    display: block;
    text-align: center;
    width: auto;
    z-index: 0;
}

.cinema-showtime {
    background-color: $color-white;
    position: relative;
    z-index: 1;
}