@import "./mixins";

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include media-query("medium", min) {
    width: 750px;
  }

  @include media-query("large", min) {
    width: 970px;
  }

  @include media-query("extra", min) {
    width: 1170px;
  }
}