$font-awesome: "FontAwesome";
$font-awesome-ttf: "../fonts/fontawesome-webfont.ttf";

$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  extra: 1200px,
);

$color-mirage: #161F2F;
$color-black-pearl: #101011;
$color-selective-yellow: #FFBB00;
$color-manatee: #8E919F;
$color-ebony-clay: #2C3443;
$color-white: #ffffff;
$color-overlay: #00000080;