@import "src/assets/scss/mixins";
@import "src/assets/scss/variables";

.sub-header {
    position: fixed;
    background-color: $color-black-pearl;
    color: $color-white;
    top: 0;
    width: 100%;
    z-index: 2000;

    &__content {
        @include flex(row, space-between, center);
        padding: 5px 0 10px;
        width: 100%;

        &>div {
            @include flex-basis(30%);
        }

        .sub-header__left{
            
            >div {
            margin: 5px 0;

            &.cinema-name {
                text-transform: uppercase;
            }

            &.movie-name {
                color: $color-manatee;
            }
            
            &.next-step {
                @include flex(row, flex-start, center, nowrap, 10px);
                font-size: 12px;
                margin-top: 8px;
                white-space: nowrap;
            }
        }}

        .showtime {
            font-size: 20px;
            text-align: center;

            @include media-query(small, max) {
                display: none;
            }
        }

        .sub-header__right {
            text-align: right;
        }

    }
}