@import "src/assets/scss/mixins";
@import "src/assets/scss/variables";

.profile {
    @include flex($gap: 15px);

    @include media-query(large, max) {
        @include flex-direction(column)
    }

    padding: 30px;

    &>section {
        max-width: 50%;

        @include media-query(large, max) {
            max-width: 100%;
        }
    }
}