@import "src/assets/scss/mixins";
@import "src/assets/scss/variables";

.movie__detail {
    .movie__background {
        overflow: hidden;
        max-height: 50vh;

        iframe {
            @include prefix(transform,(translateY(50px) scale(2.3)));
            top: -1px;
            width: 100%;

            video {
                object-fit: cover;
                width: 100% !important;
                left: 0 !important;
            }
        }
    }

    .movie__mask {
        @include linear-gradient(($color-black-pearl, transparent));
        position: absolute;
        bottom: -2px;
        height: 100%;
        width: 100%;
        transform: rotate(180deg);
    }
}