@import "src/assets/scss/mixins";
@import "src/assets/scss/variables";

.movie__detail {
    iframe {
        top: -1px;
        width: 100%;

        video {
            object-fit: cover;
            width: 100% !important;
            left: 0 !important;
        }
    }

    .movie__mask {
        @include linear-gradient(($color-black-pearl, transparent));
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        transform: rotate(180deg);
    }
}