@import "src/assets/scss/mixins";
@import "src/assets/scss/variables";

.overlay__wrap {
    @include prefix(transition, all 0.3s);
    @include prefix(animation, fadeOut 1s ease-in-out 1.5s both);
    @include box(100%);
    background-color: $color-overlay;
    position: fixed;
    top: 100px;
    z-index: 200;

    &.video__wrap{
        @include prefix(animation, fadeOut 0.3s ease-in-out 0.4s both);
    }

    &.visible {
        @include prefix(animation, fadeIn 0.1s);
    }

    .loading-overlay {
        @include centerer();
        color: $color-white;
        font-size: 16px;
        top: 40%;

        span {
            display: inline-block;
            margin: 30px;
            max-width: 200px;
            padding: 0 20px;
            text-transform: uppercase;
            white-space: nowrap;
        }

        &::before,
        &::after {
            @include pseudo();
            @include centerer(true, false);
            display: block;
            background-color: $color-selective-yellow;
            border-radius: 5px;
            height: 10px;
        }

        &::before {
            @include prefix(animation, loadingAnimationExpand 2s infinite);
            margin-bottom: 30px;
        }

        &::after {
            @include prefix(animation, loadingAnimationCollapse 2s infinite);
        }
    }
}

@include keyframes(loadingAnimationExpand) {
    0% {
        width: 60%;
    }

    50% {
        width: 90%;
    }

    100% {
        width: 60%;
    }
}

@include keyframes(loadingAnimationCollapse) {
    0% {
        width: 90%;
    }

    50% {
        width: 60%;
    }

    100% {
        width: 90%;
    }
}

@include keyframes (fadeIn) {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@include keyframes (fadeOut) {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
        z-index: -1;
    }
}