@import "src/assets/scss/mixins";

.admin-main {
    position: relative;
    top: 68px;
    height: calc(100% - 70px);

    &>section {
        &>header {
            min-height: 45px;
        }

        &>main {
            min-height: calc(100% - 145px);
        }

        &>footer {
            margin-bottom: 30px;
        }
    }

}